<div class="bg-white font-family-karla h-screen">
  <div class="w-full flex flex-wrap">
    <!-- Login Section -->
    <div class="w-full md:w-1/2 flex flex-col justify-center items-center">
      <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24 mr-auto ml-5">
      </div>
      <div class="signin-form flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32 max-w-xl">
 <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32 max-w-xl">
      <div class="flex welcome-wrap">
        <p class="signin-welcome text-center text-3xl pt-8">Welcome to</p>
        <p class="bg-white text-white font-bold text-xl p-4 pt-10">
          <%= embedded_svg("sugomori-logo.svg", class: "sugomori-logo") %>
        </p>
      </div>
      
      </div>
        <%= link_to user_twitter_omniauth_authorize_path, method: :post do %>

        <div class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">

            <div class="px-4 py-3">
              <%= embedded_svg("twitter.svg", class: "twitter-svg w-8 h-8") %>
            </div>
            <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">
            Sign in with Twitter
            </h1>
        </div>
        <% end %>

        <%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
        <div class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
            <div class="px-4 py-3">
              <%= embedded_svg("facebook.svg", class: "facebook-svg ml-1") %>
            </div>
            <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">
            Sign in with Facebook
            </h1>
        </div>
        <% end %>


      <%= link_to user_github_omniauth_authorize_path, method: :post do %>
        <div class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
            <div class="px-4 py-3">
              <%= embedded_svg("github.svg", class: "facebook-svg  w-6 h-6 ml-1") %>
            </div>
            <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">
            Sign in with GitHub
            </h1>
        </div>
        <% end %>



        <div class="mt-4 flex items-center justify-between">
          <span class="border-b w-1/5 lg:w-1/4"></span>
          <a href="#" class="text-xs text-center text-gray-500 uppercase">or login with email</a>
          <span class="border-b w-1/5 lg:w-1/4"></span>
        </div>

        <!-- email Section -->


        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
          <div class="field flex flex-col pt-4">
            <label for="email" class="text-lg">Email</label>
            <%= f.email_field :email ,autofocus: true, autocomplete: "email" ,:placeholder =>"your@email.com", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <!-- email Section -->

          <div class="flex flex-col pt-4">
            <div class="field flex justify-between">
              <label class="block text-lg">Password</label>

              <%= link_to "Forget Password?", new_password_path(resource_name) ,class:"align-bottom text-xs h-5 text-gray-500 pt-3"%>

            </div>
            <%= f.password_field :password, autocomplete: "current-password",:placeholder =>"Password", class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>


          <div class="actions">
            <%= f.submit "Log In",class:"bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" %>
          </div>

        </form>
        <% end %>

        <div class="signin-message text-center pt-12 pb-12">
          <p>Don't have an account? <br><a href="/users/sign_up" class="underline font-semibold">Register here.</a></p>
        </div>
      </div>

    </div>


    <div class="w-1/2 shadow-2xl">

      <img class="object-cover w-full h-screen hidden md:block" src="https://cdn.pixabay.com/photo/2018/01/29/19/53/indoors-3117027_1280.jpg">
    </div>
  </div>
</div>

