<!DOCTYPE html>
<html>

<head>
  <title>SugomoriApi</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<%# Reactコンポーネント表示用のレイアウト %>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

 <% if logged_in? %>
    <div id="js_logged_in_component">
  <% else %>
    <div id="js_not_logged_in_component">
  <% end %>
  </div>
</body>

</html>
